# build output
dist/
build/

# generated types & cache
.astro/
.wrangler/
.cloudflare/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# jetbrains setting folder
.idea/

# Agentic Cache
.agents/
