@utility complementary {
  pointer-events: none;

  display: inline-flex;
  align-items: center;

  width: auto;
  height: auto;
}

@utility pretty-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-brand) transparent;
}

@utility mask-fade-x {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 6%,
    black 94%,
    transparent
  );
}
